NODE_ENV=development
PORT=5001
FRONTEND_URL=http://localhost:3000
JWT_SECRET="super_secret_jwt_key_change_me_in_production"
JWT_REFRESH_SECRET=your_super_secure_refresh_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
DATABASE_URL="mysql://avnadmin:AVNS_rKF1_GdxenX0I5mqdOA@mysql-78732e9-balamuruganwebdeveloper-7fa4.h.aivencloud.com:19110/defaultdb?ssl-mode=REQUIRED"
RAZORPAY_KEY_ID=rzp_test_RW6NQI0SjBZbsw
RAZORPAY_KEY_SECRET=75u5Qa5Di6duxkFDS8aPtzot

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKIA4COT7F3OGLMY4BNU
AWS_SECRET_ACCESS_KEY=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
AWS_S3_BUCKET_NAME=namma-orru-foods

CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASS=password
REDIS_URL=redis://localhost:6379
LOG_LEVEL=debug
